<!DOCTYPE html>
<html lang="en">

<head>
    <!-- whatever this is supposed to be -->
    <meta charset="utf-8">

    <!-- extra Styles (if need be) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>Snd Blg</title>


    <!-- Fonts -->


</head>

<body>

<!-- Header -->
<div class="part1">
<header>

</header>

<div class='cardbg rounded-corners'>
<div class="cardbody">
  <div class='cardcontacts'>

  </div>
  <div class="inner">
      <!-- (div for logo) -->

      <!-- Navbar -->
      <nav class='navbar'>
          <li><span><a class='nav-item nav-link' href="">Home</a></span></li>
          <li><span><a class='nav-item nav-link' href="">Show</a></span></li>
          <li><span><a class='nav-item nav-link' href="">List</a></span></li>
          <li><span><a class='nav-item nav-link' href="">Contact</a></span></li>
      </nav>
  </div>
  <div class='cardintro'>

  </div>
</div>
</div>

</div>
</body>
</html>
